#login-registrar {
    display: flex;
    gap: 10px;
}

#registrar {
    display: flex;
    flex-direction: column;
    width: 300px;
    gap: 10px;
    border: solid 1px black;
    padding: 10px;
}

#login {
    display: flex;
    flex-direction: column;
    width: 300px;
    gap: 10px;
    border: solid 1px black;
    padding: 10px;
}

#cambiar {
    display: flex;
    flex-direction: column;
    width: 300px;
    gap: 10px;
    border: solid 1px black;
    padding: 10px;
}

#web {
    display: none;
}



.azul {
    color: blue;
}

.rojo {
    color: red;
}